<h1>The places I have been!</h1>
 
 <ul>
   <% for place in @places %>
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
   <% end %>
</ul>

<p><a href="/places/new">Create a new destination</a></p>