<h1>The places I have been!</h1>
 
 <ul>
   <% for place in @places %>
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
   <% end %>
</ul>

<%= button_to "Create a new place", "/places/new", :method => "get" %>